*{
  font-family: 'Courier New', Courier, monospace;
}


h1{
  font-family: 'Courier New', Courier, monospace;
  color: #dc3545;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("/img/criss-cross.png");
    text-align: center;
}

  ul {
    list-style-type: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

.boton1,
.boton2,
.boton3,
.boton4{
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    border-radius: 50px;
    border-color: #fff;
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    width: 30%;
    text-decoration: none;
    box-shadow: 0px 3px 0px #dc3545;
    background: #fff;
    text-align: center;
    margin-top: 10%;
    color: #dc3545;
}
.botones button{
  width: 25%;
}
.botones input{
  width: 25%;
}
.botones{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.grados button{
  width: 25%;
}
.grados select {
  width: 25%;
}
.grados input{
  width: 25%;
}
.grados{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.triangulo input{
  width: 25%;
}
.triangulo button{
  width: 25%;
}
.triangulo{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profes select{
  width: 25%;
}
.profes button{
  width: 25%;
}
.profes{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.registro select{
  width: 25%;
}
.registro input{
  width: 25%;
}
.registro button{
  width: 25%;
}
.registro{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cards{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a:hover {
    background-color: #bbb;
  }


label {
    color: #dc3545;
    font-size: 25px;
}

input {
    box-shadow: 0px 3px 0px #dc3545;
    text-decoration: none;
    border-radius: 50px;
}